<div class="container">
  <table>
    <tbody>
      <tr>
        <td>....................</td>
        <td>-</td>
        <td>............</td>
        <td>-</td>
        <td>.</td>
        <td>-</td>
        <td>.......</td>
        <td>-</td>
        <td>.......</td>
        <td>-</td>
        <td>.....</td>
        <td>-</td>
        <td>...............</td>
        <td>-</td>
        <td>.....................</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>.............</td>
        <td>-</td>
        <td>..............</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td class="left">
          <button type="button" class="btn btn-primary btn-sm">One</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Two</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Three</button>
        </td>
        <td>.</td>
        <td class="center">
          <button type="button" class="btn btn-primary btn-sm">Four</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Five</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Six</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Seven</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Eight</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Nine</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Ten</button>
        </td>
        <td>.</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Eleven</button>
        </td>
      </tr>
      <div>
       <tr>.</tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <tr>
        <td>.</td><td>.</td><td>.</td><td>.</td><td>.</td><td>.</td><td>.</td>
        <td class="center">
          <button type="button" class="btn btn-primary btn-sm">Thirteen</button>
        </td>
      </tr>
      <div>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>

        <td>
          <button type="button" class="btn btn-primary btn-sm">Fourteen</button>
        </td>
      </tr>
      <div>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td>.</td>
        <td class="center">
          <button type="button" class="btn btn-primary btn-sm">Fifteen</button>
        </td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
    </tbody>
  </table>
</div>
