<div class="container">
  <table>
    <tbody>
      <tr>
        <td>................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>.</td>
        <td>-</td>
        <td>.......</td>
        <td>-</td>
        <td>..........</td>
        <td>-</td>
        <td>.....</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..........</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td class="left">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/11"
          >
            Eleven
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/10"
          >
            Ten
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/9"
          >
            Nine
          </button>
        </td>
        <td>.</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/8"
          >
            Eight
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/7"
          >
            Seven
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/6"
          >
            Six
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/5"
          >
            Five
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/4"
          >
            Four
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/3"
          >
            Three
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/2"
          >
            Two
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/1"
          >
            One
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr></tr>
      <tr>
        <td>.</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/13"
          >
            Thirteen
          </button>
        </td>
      </tr>
      <div>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <tr>
        <td>
          ...................................................................
        </td>

        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/14"
          >
            Fourteen
          </button>
        </td>
      </tr>
      <div>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <tr>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/15"
          >
            Fifteen
          </button>
        </td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
    </tbody>
  </table>
</div>
