.container{
    background: url("../../../assets/planta.png");
    background-size:100%;
}

td.left{
    text-align: left;

}
td.right{
    text-align: right;

}
td.center{
    text-align: center;

}
/* table, th, td {
    border: 1px solid black;
  } */