<div class="container">
  <table>
    <tbody>
      <tr>
        <td>................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>.</td>
        <td>-</td>
        <td>.......</td>
        <td>-</td>
        <td>..........</td>
        <td>-</td>
        <td>.....</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..........</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td class="left">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/11"
          >
          23411
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/10"
          >
          23410
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/9"
          >
          23409
          </button>
        </td>
        <td>.</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/8"
          >
          23408
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/7"
          >
          23407
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/6"
          >
          23406
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/5"
          >
          23405
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/4"
          >
          23417
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/3"
          >
          23403
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/2"
          >
          23402
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/1"
          >
          23401
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr></tr>
      <tr>
        <td>.</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/12"
          >
          23414
          </button>
        </td>
      </tr>
      
        <tr>
          <td>.</td>
          <td class="center">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/15"
            >
            TINA 1
            </button>
          </td>
          
        </tr>

        <tr>
          <td>.</td>
          <td class="center">
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/16"
            >
            TINA 2
            </button>
          </td>
        </tr>
        <tr>
          .
        </tr>
      
      <tr>
        <td>..............</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/17"
          >
          TINA 3
          </button>
        </td>
        <td>...........................................</td>

        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/13"
          >
          23415
          </button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/18"
          >
          TINA 4
          </button>
        </td>
      </tr>
      <tr>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/19"
          >
            TINA 5
          </button>
        </td>
      </tr>
      <tr>.</tr>
      <tr>
        <td></td>

       
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/20"
          >
            TINA 6
          </button>
        </td>
        <td></td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/14"
          >
          23416
          </button>
        </td>
      </tr>

      <tr>
        <td>.</td>

        <td></td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
    </tbody>
  </table>
</div>
