<div class="container">
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <div>
        <tr>
          <td>........</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
          <td>.</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
          <td>.</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
          <td>.</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
          <td>..</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
      </div>
      <div>
        <tr>
          <td>.</td>
          <td>.......</td>
          <td>....</td>
          <td>.......</td>
          <td>........</td>
          <td>.......</td>
          <td>........</td>
          <td>........</td>
          <td>.........</td>
          <td>.......</td>
          <td>...........................................................</td>
          <td>.......</td>
          <td>.........</td>
          <td>.......</td>
          <td>...............</td>
          <td>......</td>
          <td>......</td>
          <td>........</td>
          <td>.......</td>
          <td>.</td>
        </tr>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              One
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              2
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              3
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              4
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              5
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              6
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              7
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              8
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              9
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              10
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              11
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              12
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              13
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              14
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              15
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/1"
            >
              16
            </button>
          </td>
        </tr>
      </div>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
    </tbody>
  </table>
</div>
