<div class="container">
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <div>
        <tr>
          <td>............</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/232"
            >
              21435
            </button>
          </td>
          <td>....</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/231"
            >
              21434
            </button>
          </td>
          <td>.....</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/230"
            >
              21433
            </button>
          </td>
          <td>.....</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/229"
            >
              21432
            </button>
          </td>
        </tr>
      </div>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <div>
        <tr>
          <td>........</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/228"
            >
            21431
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/227"
            >
            21430
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/226"
            >
            21429
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/225"
            >
            21428
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/224"
            >
            21427
            </button>
          </td>
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          <td>........</td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/223"
            >
            21426
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/222"
            >
            21425
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/221"
            >
            21424
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/220"
            >
            21423
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/219"
            >
            21422
            </button>
          </td>
        </tr>
      </div>
      <div>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/218"
            >
              21421
            </button>
          </td>
         <td></td>

          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/216"
            >
              21419
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/214"
            >
              21416
            </button>
          </td>
         <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/209"
            >
              21414
            </button>
          </td>
          <td></td>
          
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/208"
            >
              21407
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/206"
            >
              21406A
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/204"
            >
              21404
            </button>
          </td>
         <td></td>
          <td>
            <button
              type="button"
              class="btn btn-primary btn-sm"
              routerLink="/detail/202"
            >
              21402
            </button>
          </td>
         
        </tr>
        
        <tr>
          <td>.</td>
          <td>.........</td>
          <td>....</td>
          
          <td>.............</td>
          <td>........</td>
          <td>........</td>
          <td>.........</td>
          <td>...............................................................</td>
          <td>.....</td>
          <td>.......</td>
          <td>.......</td>
          <td>...................</td>
          <td>....</td>
          <td>......</td>
          <td>....</td>
        </tr>
      </div>
      <tr>
        .
      </tr>
      <div>
      <tr>
        <td>.......</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/217"
          >
            21420
          </button>
        </td>
        <td>..................</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/215"
          >
            21417
          </button>
        </td>
        <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/210"
          >
            21415
          </button>
        </td>
       <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/211"
          >
            21413
          </button>
        </td>
        <td>.................................................................</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/207"
          >
            21406B
          </button>
        </td>
       <td>...................</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/205"
          >
            21405
          </button>
        </td>
       <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/203"
          >
            21403
          </button>
        </td>
       <td>.....</td>
        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/201"
          >
            21401
          </button>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
</div>
