

<div class="card mb-3" style="max-width: 540px;"  *ngFor="let tank of tanks; let i = index">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="..." alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ tank.nombre }}</h5>
        <p class="card-text">
          Nombre: {{ tank.nombre }}<br />
          Material Descrption: {{ tank.matDescription }}<br />
          Batch No. : {{ tank.batchNo }}<br />
          Cliente: {{ tank.client }} <br />
          Start Date: {{ tank.startDate }}<br />
          Delivery Date: {{ tank.deliveryDate }}<br />
          Etapa actual: {{ etapaActual }}<br />
          Status: {{ status }}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
