<div class="accordion" id="accordionExample">
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Tank 1
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse "
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
      >
        Tank 2
      </button>
    </h2>
    <div
      id="collapseTwo"
      class="accordion-collapse collapse "
      aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingThree">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThree"
        aria-expanded="true"
        aria-controls="collapseThree"
      >
        Tank 3
      </button>
    </h2>
    <div
      id="collapseThree"
      class="accordion-collapse collapse "
      aria-labelledby="headingThree"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingFour">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFour"
        aria-expanded="true"
        aria-controls="collapseFour"
      >
        Tank 4
      </button>
    </h2>
    <div
      id="collapseFour"
      class="accordion-collapse collapse "
      aria-labelledby="headingFour"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingFive">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFive"
        aria-expanded="true"
        aria-controls="collapseFive"
      >
        Tank 5
      </button>
    </h2>
    <div
      id="collapseFive"
      class="accordion-collapse collapse "
      aria-labelledby="headingFive"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingSix">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSix"
        aria-expanded="true"
        aria-controls="collapseSix"
      >
        Tank 6
      </button>
    </h2>
    <div
      id="collapseSix"
      class="accordion-collapse collapse "
      aria-labelledby="headingSix"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingSeven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseSeven"
        aria-expanded="true"
        aria-controls="collapseSeven"
      >
        Tank 7
      </button>
    </h2>
    <div
      id="collapseSeven"
      class="accordion-collapse collapse "
      aria-labelledby="headingSeven"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingEight">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEight"
        aria-expanded="true"
        aria-controls="collapseEight"
      >
        Tank 8
      </button>
    </h2>
    <div
      id="collapseEight"
      class="accordion-collapse collapse "
      aria-labelledby="headingEight"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingNine">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseNine"
        aria-expanded="true"
        aria-controls="collapseNine"
      >
        Tank 9
      </button>
    </h2>
    <div
      id="collapseNine"
      class="accordion-collapse collapse "
      aria-labelledby="headingNine"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingTen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTen"
        aria-expanded="true"
        aria-controls="collapseTen"
      >
        Tank 10
      </button>
    </h2>
    <div
      id="collapseTen"
      class="accordion-collapse collapse "
      aria-labelledby="headingTen"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>
  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingEleven">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseEleven"
        aria-expanded="true"
        aria-controls="collapseEleven"
      >
        Tank 11
      </button>
    </h2>
    <div
      id="collapseEleven"
      class="accordion-collapse collapse "
      aria-labelledby="headingEleven"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingTwelve">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseTwelve"
        aria-expanded="true"
        aria-controls="collapseTwelve"
      >
        Tank 12
      </button>
    </h2>
    <div
      id="collapseTwelve"
      class="accordion-collapse collapse "
      aria-labelledby="headingTwelve"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingThirteen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseThirteen"
        aria-expanded="true"
        aria-controls="collapseThirteen"
      >
        Tank 13
      </button>
    </h2>
    <div
      id="collapseThirteen"
      class="accordion-collapse collapse "
      aria-labelledby="headingThirteen"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingFourteen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFourteen"
        aria-expanded="true"
        aria-controls="collapseFourteen"
      >
        Tank 14
      </button>
    </h2>
    <div
      id="collapseFourteen"
      class="accordion-collapse collapse "
      aria-labelledby="headingFourteen"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>

  <div class="accordion-item" >
    <h2 class="accordion-header" id="headingFifteen">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFifteen"
        aria-expanded="true"
        aria-controls="collapseFifteen"
      >
        Tank 15
      </button>
    </h2>
    <div
      id="collapseFifteen"
      class="accordion-collapse collapse "
      aria-labelledby="headingFifteen"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        Nombre: Tanque 1<br>
        Material Descrption: aljfoem<br>
        Batch No. : 123<br>
        Cliente: Tesla <br>
        Start Date: 15-04-2021<br>
        Delivery Date: 28-04-2020<br>
        Etapa actual: Cargando<br>
        Status: Green
      </div>
    </div>
  </div>
</div>
