<div class="container">
  <script></script>
  <table>
    <tbody>
      <tr>
        <td>................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>.</td>
        <td>-</td>
        <td>.......</td>
        <td>-</td>
        <td>..........</td>
        <td>-</td>
        <td>.....</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..................</td>
        <td>-</td>
        <td>.........</td>
        <td>-</td>
        <td>...........</td>
        <td>-</td>
        <td>..........</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td class="left">
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23411') }} btn-sm"
            routerLink="/detail/TM23411"
          >
            23411
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23410') }} btn-sm"
            routerLink="/detail/TM23410"
          >
            23410
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23409') }} btn-sm"
            routerLink="/detail/TM23409"
          >
            23409
          </button>
        </td>
        <td>.</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23408') }} btn-sm"
            routerLink="/detail/TM23408"
          >
            23408
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23407') }} btn-sm"
            routerLink="/detail/TM23407"
          >
            23407
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23406') }} btn-sm"
            routerLink="/detail/TM23406"
          >
            23406
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23405') }} btn-sm"
            routerLink="/detail/TM23405"
          >
            23405
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23417') }} btn-sm"
            routerLink="/detail/TM23417"
          >
            23417
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23403') }} btn-sm"
            routerLink="/detail/TM23403"
          >
            23403
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23402') }} btn-sm"
            routerLink="/detail/TM23402"
          >
            23402
          </button>
        </td>
        <td>.</td>
        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23401') }} btn-sm"
            routerLink="/detail/TM23401"
          >
            23401
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr></tr>
      <tr>
        <td>.</td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td>.</td>
        <td>.</td>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23414') }} btn-sm"
            routerLink="/detail/TM23414"
          >
            23414
          </button>
        </td>
      </tr>

      <tr>
        <td>.</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/15"
          >
            TINA 1
          </button>
        </td>
      </tr>

      <tr>
        <td>.</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/16"
          >
            TINA 2
          </button>
        </td>
      </tr>
      <tr>
        .
      </tr>

      <tr>
        <td>..............</td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/17"
          >
            TINA 3
          </button>
        </td>
        <td>...........................................</td>

        <td>
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23415') }} btn-sm"
            routerLink="/detail/TM23415"
          >
            23415
          </button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/18"
          >
            TINA 4
          </button>
        </td>
      </tr>
      <tr>
        <td>.</td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/19"
          >
            TINA 5
          </button>
        </td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        <td></td>

        <td class="center">
          <button
            type="button"
            class="btn btn-primary btn-sm"
            routerLink="/detail/20"
          >
            TINA 6
          </button>
        </td>
        <td></td>

        <td class="center">
          <button
            type="button"
            class="btn btn-{{ getStatus('TM23416') }} btn-sm"
            routerLink="/detail/TM23416"
          >
            23416
          </button>
        </td>
      </tr>

      <tr>
        <td>.</td>

        <td></td>
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
    </tbody>
  </table>
</div>
