.container{
    background: url("../../../assets/planta.png");
    background-size:100%;
}

td.left{
    text-align: left;

}
td.right{
    text-align: right;

}
td.center{
    text-align: center;

}
.btn-sm {
    font-size: 70%;
    bg-color: #007bff;
}
/* table, th, td {
    border: 1px solid black;
  } */
