<div class="container">
  <table>
    <tbody>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <div>
        <tr>
          <td>............</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              routerLink="/detail/TM21432"
            >
              21432
            </button>
          </td>
          <td>....</td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              routerLink="/detail/TM21433"
            >
              21433
            </button>
          </td>
          <td>.....</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21434"
            >
              21434
            </button>
          </td>
          <td>.....</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21435"
            >
              21435
            </button>
          </td>
        </tr>
      </div>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <tr>
        .
      </tr>
      <div>
        <tr>
          <td>........</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21435"
            >
            21435
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21428"
            >
            21428
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21429"
            >
            21429
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              routerLink="/detail/TM21430"
            >
            21430
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              routerLink="/detail/TM21431"
            >
            21431
            </button>
          </td>
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          .
        </tr>
        <tr>
          <td>........</td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21422"
            >
            21422
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21423"
            >
            21423
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21424"
            >
            21424
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              routerLink="/detail/TM21425"
            >
            21425
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21426"
            >
            21426
            </button>
          </td>
        </tr>
      </div>
      <div>
        <tr>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              routerLink="/detail/TM21421"
            >
              21421
            </button>
          </td>
         <td></td>

          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21419"
            >
              21419
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              routerLink="/detail/TM21416"
            >
              21416
            </button>
          </td>
         <td></td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              routerLink="/detail/TM21414"
            >
              21414
            </button>
          </td>
          <td></td>
          
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21407"
            >
              21407
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21406A"
            >
              21406A
            </button>
          </td>
          <td></td>
          <td>
            <button
              type="button"
              class="btn btn-success btn-sm"
              routerLink="/detail/TM21404"
            >
              21404
            </button>
          </td>
         <td></td>
          <td>
            <button
              type="button"
              class="btn btn-danger btn-sm"
              routerLink="/detail/TM21402"
            >
              21402
            </button>
          </td>
         
        </tr>
        
        <tr>
          <td>.</td>
          <td>.........</td>
          <td>....</td>
          
          <td>.............</td>
          <td>........</td>
          <td>........</td>
          <td>.........</td>
          <td>...............................................................</td>
          <td>.....</td>
          <td>.......</td>
          <td>.......</td>
          <td>...................</td>
          <td>....</td>
          <td>......</td>
          <td>....</td>
        </tr>
      </div>
      <tr>
        .
      </tr>
      <div>
      <tr>
        <td>.......</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21420"
          >
            21420
          </button>
        </td>
        <td>..................</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21417"
          >
            21417
          </button>
        </td>
        <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21415"
          >
            21415
          </button>
        </td>
       <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21413"
          >
            21413
          </button>
        </td>
        <td>.................................................................</td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            routerLink="/detail/TM21406B"
          >
            21406B
          </button>
        </td>
       <td>...................</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21405"
          >
            21405
          </button>
        </td>
       <td>......</td>
        <td>
          <button
            type="button"
            class="btn btn-success btn-sm"
            routerLink="/detail/TM21403"
          >
            21403
          </button>
        </td>
       <td>.....</td>
        <td>
          <button
            type="button"
            class="btn btn-warning btn-sm"
            routerLink="/detail/TM21401"
          >
            21401
          </button>
        </td>
      </tr>
    </div>
    </tbody>
  </table>
</div>
